{% extends '@OroFrontend/layouts/default/form_theme.html.twig' %}

{%- block form_label -%}
    {% set modifier = "__form__payment-label" %}
    {{ parent() }}
{%- endblock form_label -%}

{% block _entrepids_braintree_credit_card_payment_credit_card_cvv_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' input input--short',
        'autocomplete': 'off'
    }) %}

    {%- set type = type|default('password') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    <span class="ttip__wrap">
        <a href="javascript: void(0);" class="ttip__toggle">{{ 'entrepids.braintree.methods.whats_this'|trans }}</a>
        <span class="ttip">
            <span class="ttip__content">{{ 'oro.paypal.methods.tooltip'|trans|nl2br }}</span>
        </span>
    </span>
{% endblock %}

{% block _entrepids_braintree_credit_card_widget %}
    {% set creditCardComponent = options.creditCardComponent|default('braintree/js/app/components/credit-card-component') %}
    {% set creditCardComponentOptions = options.creditCardComponentOptions|default({})|merge({paymentMethod: paymentMethod}) %}
    {% set isAuthorizedCard = creditCardComponentOptions.acct is defined %}

    <div class="{{ class_prefix }}__form__payment-methods"
        data-page-component-module="{{ creditCardComponent }}"
        data-page-component-options="{{ creditCardComponentOptions|json_encode }}">
        {% if isAuthorizedCard %}
            <div class="{{ class_prefix }}__form__payment-methods-authorized-card" data-authorized-card>
                <p>
                    {{ 'entrepids.braintree.braintreeflow.authorized_card'|trans({'{{ last4 }}': creditCardComponentOptions.acct}) }}
                </p>
                <a href="javascript: void(0);" class="{{ class_prefix }}__form__payment-methods-different-card-handle" data-different-card-handle>
                    {{ 'entrepids.braintree.braintreeflow.use_different_card'|trans }}
                </a>
            </div>
        {% endif %}
        <div {% if isAuthorizedCard %} style="display: none;" data-different-card{% endif %}>
            {% if isAuthorizedCard %}
                <div class="{{ class_prefix }}__form__payment-methods-different-card">
                    <a href="javascript: void(0);" class="{{ class_prefix }}__form__payment-methods-authorized-card-handle" data-authorized-card-handle>
                        {{ 'entrepids.braintree.braintreeflow.use_authorized_card'|trans }}
                    </a>
                </div>
            {% endif %}
            <ul class="{{ class_prefix }}__form__payment-methods__list">
                {% for cc_name in options.creditCardComponentOptions.allowedCreditCards %}
                    <li><i class="credit-card-icon credit-card-icon_{{ cc_name }}"></i></li>
                {% endfor %}
            </ul>
            <div class="{{ class_prefix }}__form__payment-methods__form" data-credit-card-form="data-credit-card-form">
				 <form id="my-sample-form" method="post" action="/purchase">
				  <label for="card-number">Card Number</label>
				  <div id="card-number"></div>

				  <label for="expiration-date">Expiration Date</label>
				  <div id="expiration-date"></div>
				  				
				  <label for="cvv">CVV</label>
				  <div id="cvv"></div>
				</form> 
            </div>
     
			    {% block javascripts %}
			        <script src="{{ asset('bundles/braintree/js/app/components/braintree.js') }}" type="text/javascript"></script>
			    {% endblock %}			
		    
        </div>
    </div>
{% endblock %}
